.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
}

.hero-container {
  justify-content: space-around;
  align-items: flex-end;
}

/*Right side */
.image-container {
  width: 25rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
}

/*Left side*/
.hero-left {
  gap: 3rem;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
}

.orange-circle {
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}

.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.search-bar > input {
  border: none;
  outline: none;
}

.stats {
  width: 100%;
  gap: 10px;
}

.stat > :nth-child(1) {
  font-size: 2rem;
}

.stat > :nth-child(1) > :last-child {
  color: orange;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-left {
    gap: 1.5rem;
    align-items: center;
  }

  .hero-title > h1 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .orange-circle {
    right: 10%;
    top: -5%;
    width: 3rem;
    height: 3rem;
  }

  .image-container {
    width: 90%;
    height: auto;
    border-radius: 15rem 15rem 0 0;
  }

  .search-bar {
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.8rem;
  }

  .search-bar button {
    width: 100%;
  }
  .stats {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
