.r-container {
  overflow: hidden;
  position: relative; /* Add this line */
}

.r-head {
  margin-bottom: 2rem;
}

.r-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card > img {
  width: 100%;
  max-width: 15rem;
}

.r-card > :nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
}
.r-card > :nth-child(3) {
  font-size: 1.5rem;
}

.r-card > :nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46)
  );
  box-shadow: 0 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.r-buttons {
  background-color: white;
  gap: 10px;
  box-shadow: 0 72px 49px -51px rgba(136, 160, 255, 0.21);
  margin-top: 10px;
}

.r-buttons button {
  font-size: 2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
