.f-container {
  justify-content: space-around;
  background-color: var(--black);
  color: white;
}

.f-container .primaryText {
  color: #3b58ce;
}
.f-left {
  gap: 1rem;
}
.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .f-container {
    justify-content: center;
    gap: 4rem;
  }
  .f-container > div {
    align-items: center !important;
    text-align: center;
  }
  .f-right {
    justify-content: center;
  }
}
